<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>生命就像一条大河</string>
	<string>高山仰止</string>
	<string>宰相肚里能撑船</string>
	<string>逍遥游</string>
	<string>三人行，必有我师</string>
	<string>健康是福</string>
	<string>世间本无事</string>
	<string>舍得舍得</string>
	<string>薯片i believe，幸福我定义</string>
	<string>肖申克说:&quot;抱有希望总是好的&quot;.</string>
	<string>每天进步一点点吧</string>
	<string>当你的内心变得纯净，还有什么看不清</string>
	<string>对头</string>
	<string>付出多少收获多少</string>
	<string>做一个真实的自我</string>
	<string>心有多大舞台就有多大</string>
	<string>这叫磨炼</string>
	<string>有时候，就是一个信字</string>
	<string>曾子说:&quot;吾日三省吾身&quot;.</string>
	<string>哪怕只是一个念头，那也是修行</string>
	<string>功到才能圆满</string>
	<string>不要再执著外在的东西，把握好自己的内心</string>
</array>
</plist>
